---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


body{
font-family:"Helvetica", sans-serif;
background-color:#fefefe;
}
body > header{
padding:20px 0;

}
header{
background-color: #9966CC ;
}
.wrapper{
padding:0 40px;
}
.site-title{
float:left;
margin:0;
}
.site-nav{
float:right;
}
.site-title a{
text-decoration:none;
color:black;
}
footer{

background-color:#9966CC ;
}
.clear{
clear:both;
}
.site-nav ul{
list-style:none;
margin:0;
padding:0;
}
.site-nav ul li{
display:inline-block;/* yan yana geldiler inline elementler yan yana dır */
}
.site-nav ul li a{
display:block;
font-weight:bold;
padding:4px 8px;
text-decoration:none;
color:black;
}
.posts{
padding:0;
list-style:none;
}
.posts li a{
text-decoration:none;
color:#6666FF ;

}
.posts li{
border-bottom:1px solid #666;
}
.posts li:last-child{
border-bottom:0;
}
.date{
font-size:60%;

}
a{
text-decoration:none;
color:black;
}
.site-footer{
text-align:center;
}
.site-footer a{
color:#6666FF ;
}
