---
layout: default
---


  <ul class="posts">


    {% for post in site.posts %}
	<li>
	<h2>
	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

	<small class="date"><em>{{ post.date | date: "%b %-d, %Y" }}
	</em> 
	</small>
	</h2>
	<p>{{ post.summary }}</p>
	</li>

    {% endfor %}
  </ul>



</div>
