

<footer class="site-footer">
<div class="wrapper">
<a href="mailto: {{ site.email }}" >{{ site.email }}</a>
<a href="{{ "/feed.xml" | prepend: site.baseurl }}" style="color:#6666FF  "> RSS FEED</a>
</div>
</footer>


